body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #095028;
    text-align: center;
    overflow: hidden;
}

ul.menu li {
    display: inline-block;
    margin-right: 10px;
}

ul.menu li:last-child {
    margin-right: 0;
}

ul.menu li:hover {
    background-color: #228b22;
}

ul.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

div.content {
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/* Ваши стили */
body {
    font-family: Arial, sans-serif;
}

.menu {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.menu li {
    cursor: pointer;
    padding: 10px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.menu li:hover {
    background-color: #ddd;
}

.content {
    margin-top: 20px;
    width: 60%;
    margin: 0 auto;
}

input[type="text"],
input[type="number"],
select {
    width: 98%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #095028;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #228b22;
}

.service-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.service-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.service-item button {
    margin-left: 10px;
    background-color: #095028;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.service-item button:hover {
    background-color: #228b22;
}

.service-item img {
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin: 10px auto;
}
